<html>
<body>
<h4>Доброго дня  ${fullName} </h4>

Вас стали експертом на Колабораторе.
<br><br>
Теперь вы можете писать статьи и отвечать на вопросы пользователей.

<br><br>
С уважением администрация Колаборатора.

</body>

</html>