<html>
<body>
<h4>Доброго дня  </h4>

Вас пригласили стать експертом на Колабораторе
<br><br>

Пожалуста пройдите по ссылке <a href="${url}">Регистрация аккаунта</a>

<br><br>
С уважением администрация Колаборатора.

</body>

</html>