<html>
<body>
<h4>Доброго дня ${fullName} </h4>

Приятно видеть Вас на Колабораторе.
<br><br>

Пожалуста активируйте Ваш аккаунт пройдя по ссылке <a href="${url}">Активация аккаунта</a>

<br><br>
С уважением администрация Колаборатора.

</body>

</html>